.App {
  text-align: center;
  margin: 10px auto;
}

img {
  width: 40%;
  height: 30px;
}

.cal-box {
  margin: 200px auto;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid brown;
  max-width: 30%;
}

.display {
  margin: 10px auto;
  width: 200px;
  font-size: 1.5rem;
  text-align: right;
}

button {
  width: 20%;
  margin: 4px;
  font-size: 1.5rem;
  word-wrap: break-word;
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: 1px 1px 1px 1px grey;
  background-color: rgb(255, 144, 144);
  transition: transform 0.1s ease-in-out;
}

.submit {
  background-color: rgb(255, 194, 101);
}

button:hover {
  transform: translateY(-4px);
}