.App {
  text-align: center;
  margin: 10px auto;
}

img {
  width: 40%;
  height: 30px;
}

.cal-box {
  margin: 200px auto;
  border-radius: 10px;
  width: 20%;
}

.display {
  margin: 10px auto;
  width: 200px;
  min-width: 10px;
  font-size: 1.5rem;
  text-align: right;
}

button {
  width: 20%;
  margin: 4px;
  font-size: 1.5rem;
  word-wrap: break-word;
  border-radius: 10px;
  border: 1px solid white;
  box-shadow: 0 1px 2px 2px grey;
  background-color: rgb(255, 219, 173);
  transition: transform 0.1s ease-in-out;
}

button:hover {
  transform: translateY(-5px);
}